.App {
	justify-content: flex-start,
}

.header {
	background-color: #282c34;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(32px + 2vmin);
	color: white;
}

.signout {
	background-color: #282c34;
	display: flex;
	justify-content: flex-end;
	padding-right: 50px;
	color: white;
	font-size: 14px;
}

.space {
	justify-content: space-between;
}

.wrapper {
	justify-content: space-around;
	margin: 25px;
}

.center {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	margin-right: 200px;
	
}



.AddPOIForm_input {
	margin-bottom: 20px;
	align-content: center;
	justify-content: center;
	margin-left: 40%;
}

	.AddPOIForm_input > label {
		display: block;
	}

.submit-btn {
	
	justify-content: space-around;
	margin-left: 50px;
}

.formatId {
	margin-top: 20px;
	font-size: 10px;
}

.login {
	margin-top: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form_element {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.GitHub-Login {
	display: flex;
	margin-top: 50px;
	align-content: center;
	justify-content: center;
	margin-left: 680px;
}